@import url("fonts.css");

html, body {

	margin: 0px;
	font-family: 'Calibri';

}

p {

	font-size: 16px;
	text-align: justify;
	line-height: 20px;

}

b {
	font-family: 'Consolas';
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

input[type=text] {

	width: 72%;
	height: 80%;
	margin-top: 5px;
	margin-left: 7px;
	padding-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e0e0e0;

}

input[type=button] {

	width: 8%;
	height: 80%;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 5px;
    display: inline-block;
    border: 1px solid #32464F;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    background-color: #4CAF50;
    transition-duration: 0.3s;

}

input[type=button]:hover {

	background-color: #5ec162;

}

.openScreen {

	height: 100%;
	width: 100%;
	background-color: rgba(47, 79, 79, 0.95);
	position: fixed;
	z-index: 1;
	top: 0;
	padding-top: 30px;

}

.titleBar {

	height: 55px;
	width: 100%;
	display: flex;
	position: fixed;
	font-family: 'Roboto';
	box-shadow: 0px 5px 5px #444;
	top: 0px;

}

.sideBarHeader {

	height: 100%;
	width: 18%;
	background-color: #0F0D08;
	color: #eee;
	display: flex;
	align-items: center;
	font-size: 30px;
	padding-left: 30px; 

}

.appHeader {

	height: 100%;
	width: 83%;
	background-color: #27271F;
	color: #eee;
	font-size: 30px;
	font-size: 30px;
	display: flex;
	align-items: center;
	padding-left: 20px;

}

.content {

	width: 100%;
	margin-top: 55px;

}

.sideBar {	

	height: 91vh;
	width: 18%;
	background-color: #0F0D08;
	float: left;
	overflow-y: scroll;

}

.questionLink {

	height: 48px;
	width: 95%;
	background-color: #27271F;
	color: #eee;
	text-align: center;
	/*padding: 13px 0px 13px 0px;*/
	display: flex;
	margin: 6px;
	text-decoration: none;
	font-size: 20px;
	transition-duration: 0.4s;
	align-items: center;
	cursor: pointer;

}

.questionLink:hover {

	background-color: #858599;

}

.questionNumber {

	height: 100%;
	width: 65%;
	padding-top: 11px;
	/*background-color: #000;*/
	margin-left: 20px;

}

.questionStatus {

	/*display: inline-block;*/
	border-radius: 50%;
	height: 68%;
	width: 15%;
	background-color: #171510;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding-left: 12.5px;
	margin-left: 10px;
/*	-moz-box-shadow:    0px 0px 1.5px 1.5px #484848 inset;
  	-webkit-box-shadow: 0px 0px 1.5px 1.5px #484848 inset;
  	box-shadow:         0px 0px 1.5px 1.5px #484848 inset;*/
}

.questionStatusS {

	/*display: inline-block;*/
	border-radius: 50%;
	height: 68%;
	width: 15%;
	background-color: #37B76C;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding-left: 12px;
	margin-left: 10px;
	/*-moz-box-shadow:    0px 0px 1.5px 1.5px #eee inset;
  	-webkit-box-shadow: 0px 0px 1.5px 1.5px #eee inset;
  	box-shadow:         0px 0px 1.5px 1.5px #eee inset;*/
}

.questionStatusF {

	/*display: inline-block;*/
	border-radius: 50%;
	height: 68%;
	width: 15%;
	background-color: #FF3F2F;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding-left: 12px;
	margin-left: 10px;
	/*-moz-box-shadow:    0px 0px 1.5px 1.5px #eee inset;
  	-webkit-box-shadow: 0px 0px 1.5px 1.5px #eee inset;
  	box-shadow:         0px 0px 1.5px 1.5px #eee inset;*/
}

.questionDisplay {

	min-height: 91vh;
	width: 82%;
	background-color: #eee;
	float: left;
	font-size: 18px;
	transition-duration: 0.3s;

}

.questionDescription {

	padding: 10px 30px;
	height: 50%;
	margin-bottom: 55px;

}

.submissionZone {

	height: 55px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #27271F;

}
